{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">Tasks</div>
                <div class="card-body">
                    <a href="/get_datasets/">Datasets</a><br>
                    <br>
                    <b>All tasks</b>
                    <ul class="list-group">
                        {% for task in tasks %}
                            <li class="list-group-item">
                                {{ task.name }}
                                ({{ task.job_status }})
                                [<a href="/tasks/{{ task.id }}?action=delete">delete</a>]
                                {% if task.error_message %}
                                    <br>
                                    <i style="color: red;">Error: {{ task.error_message }}</i>
                                {% endif %}
                                {% if task.info_message %}
                                    <br>
                                    <i>Info: {{ task.info_message }}</i>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="/tasks/">Refresh task list</a>
                    <br>
                    <br>
                    <form action="/tasks/new" method="get" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="task_type">Choose type of task:</label><br>
                        <select name="task_type" id="task_type">
                            {% for task_type in task_types %}
                                <option value="{{ task_type }}">{{ task_type }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <br>
                        <label for="task_type">Choose get_dataset:</label><br>
                        <select name="dataset_id" id="dataset_id">
                            {% for get_dataset in get_datasets %}
                                <option value="{{ get_dataset.id }}">{{ get_dataset.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <br>
                        <button type="submit" class="btn btn-primary">Create new task for get_dataset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
