{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">
                    Task <b>{{ task.name }}</b><br>
                    [<a href="/tasks/{{ task.id }}?action=delete">delete</a>]
                </div>
                <div class="card-body">
                    <p style="margin-top: 10px"><a href="/tasks/">Back</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
