{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <div class="card" style="margin-top: 10px;">
                <div class="card-header">
                    Task <b>{{ task.name }}</b><br>
                    [<a href="/tasks/{{ task.id }}/delete">delete</a>]
                </div>
                <div class="card-body">
                    <form action="/tasks/{{ task.id }}/start" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ task_form }}
                        <br>
                        <br>
                        <button type="submit" class="btn btn-primary">Start task</button>
                    </form>
                    <br>
                    <br>
                    <p style="margin-top: 10px"><a href="/datasets/{{ task.dataset.id }}">Back</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
